<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /index.html [L]
</IfModule>

RewriteEngine On

Redirect 301 /PhotoGallery.html https://www.gvmpanipat.com/
Redirect 301 /MessagePrincipal.html https://www.gvmpanipat.com/
Redirect 301 /syllabus.html https://www.gvmpanipat.com/
Redirect 301 /ApplyForJob.html https://www.gvmpanipat.com/
Redirect 301 /VisionMission.html https://www.gvmpanipat.com/
Redirect 301 /MessageChairman.html https://www.gvmpanipat.com/
Redirect 301 /OnlineResult.html https://www.gvmpanipat.com/
Redirect 301 /SalientFeatures.html https://www.gvmpanipat.com/
Redirect 301 /ContactUs.html https://www.gvmpanipat.com/
Redirect 301 /Holidays.html https://www.gvmpanipat.com/
Redirect 301 /book_list.html https://www.gvmpanipat.com/
Redirect 301 /curriculum.html https://www.gvmpanipat.com/
Redirect 301 /DateSheet.html https://www.gvmpanipat.com/
Redirect 301 /AudioVisualRoom.html https://www.gvmpanipat.com/
Redirect 301 /NewsEvents.html https://www.gvmpanipat.com/
Redirect 301 /aboutus.html https://www.gvmpanipat.com/
Redirect 301 /computerlab.html https://www.gvmpanipat.com/
Redirect 301 /GuidanceBeaureu.html https://www.gvmpanipat.com/
Redirect 301 /FeeStructure.html https://www.gvmpanipat.com/
Redirect 301 /AdmissionOnline.html https://www.gvmpanipat.com/
Redirect 301 /Mandatory_public_disclosure.html https://www.gvmpanipat.com/	
Redirect 301 /library.html https://www.gvmpanipat.com/
Redirect 301 /DocumentsRequired.html https://www.gvmpanipat.com/
Redirect 301 /HomeWork.html https://www.gvmpanipat.com/
Redirect 301 /ActivityPlanner.pdf https://www.gvmpanipat.com/
Redirect 301 /enquiry-form.pdf https://www.gvmpanipat.com/
Redirect 301 /admission-form.pdf https://www.gvmpanipat.com/